<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fast And Furious 9</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="general_js.js"></script>
      </head>
<body>
        <!----------------------------Header----------------------------------->
<header>
    <nav class="  navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><img src="logo3.png" style="width:200px; height: 50px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle active" role="button" data-toggle="dropdown">  Cateogories
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Packages</a>
                    <a class="dropdown-item" href="#">Best Reviews</a>
                  </div>
                </div>
              </li>              
              <li class="nav-item">
                <a class="nav-link active" href="/about">About Us</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>

            </ul>
            <div class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" id="searchh" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit" onclick="search_engine()">Search</button>
            </div>
          </div>
        </div>
</header>

        <!----------------------------Section---------------------------------->
<section class="movieinfo">
        <h1 class="movietitle">FAST AND FURIOUS 9</h1><br>

        <div class="container">
          <div class="row">
          
          <div class="col-7">
            <iframe width="800" height="600" src="https://www.youtube.com/embed/FUK2kdPsBws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div class="col-5">
            <img src="f9.jpg" class="movieposter"></div>
          </div>
        </div>


        <!--<img src="f9.jpg" class="movieposter">-->
        <h3>Description:</h3>
        <p><b><i>Vin Diesel’s Dominic "Dom" Toretto is leading a quiet life off the grid with Letty and his son, little Brian, but they know that danger always lurks just over their peaceful horizon. This time, that threat will force Dom to confront the sins of his past if he’s going to save those he loves most. His crew joins together to stop a world-shattering plot led by the most skilled assassin and high-performance driver they’ve ever encountered: a man who also happens to be Dom’s forsaken brother, Jakob (John Cena, the upcoming The Suicide Squad).
            F9 sees the return of Justin Lin as director, who helmed the third, fourth, fifth and sixth chapters of the series when it transformed into a global blockbuster phenomenon.
            
            The action hurtles around the globe—from London to Tokyo, from Central America to Edinburgh, and from a secret bunker in Azerbaijan to the teeming streets of Tbilisi. Along the way, old friends will be resurrected, old foes will return, history will be rewritten, and the true meaning of family will be tested like never before.
            
            The film stars returning cast members Michelle Rodriguez, Tyrese Gibson, Chris “Ludacris” Bridges, Jordana Brewster, Nathalie Emmanuel and Sung Kang, with Oscar® winner Helen Mirren and Oscar® winner Charlize Theron. F9 also features Grammy-winning superstar Cardi B as new franchise character Leysa, a woman with a connection to Dom’s past, and a cameo by Reggaeton sensation Ozuna.   
            </i></b></p>

            <h3>Cast:</h3>
            <p><b><i>Vin Diesel<br>Michelle Rodriguez<br>
                Tyrese Gibson<br>Chris "Ludacris" Bridges<br>
                John Cena<br> Nathalie Emmanuel<br>
                Jordana Brewster<br>Sung Kang<br>
                Helen Mirren<br>Kurt Russell 
                Charlize Therone</i></b></p>
                <h3>Duration:</h3>
                <p>2 hr 25 mins</p>
                <h3>Release Date:</h3>
                <p>25 May 2021</p>


                <input type="button" onclick="window.location.href='/booking'" class="bookfilm" style="width: 15%; color: white; background-color: rgba(87, 171, 226, 0.918); font-size: 30px; border-radius: 10px; padding-bottom: 5px;" value="Book">
              </section>

        <!----------------------------Footer----------------------------------->
    <footer class="bg-light text-center text-primary">
        <!-- Grid container -->
        <div class="container p-4 pb-3">
          <!-- Section: Social media -->
          <section class="mb-40 bg-light">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/"
              role="button" >
              <i class="fab fa-facebook-f"></i>
            </a>
      
            <!-- Twitter -->
            <a
              class="btn btn-info btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-danger btn-floating m-1"
              style="background-color: #dd4b39;"
              href="https://www.google.com/"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-secondary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright: By Habiba Khaled Abdelfattah & Ingy Amr
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>